<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CA101G2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
   <context-param>
		<param-name>contentType</param-name>
		<param-value>text/html; charset=UTF-8</param-value>
  </context-param>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/CA101G2</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.product.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/product.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <servlet-class>com.shoppingcart.controller.ShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/cart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductTrackServlet</servlet-name>
    <servlet-class>com.producttrack.controller.ProductTrackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductTrackServlet</servlet-name>
    <url-pattern>/faver.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderMasterServlet</servlet-name>
    <servlet-class>com.ordermaster.controller.OrderMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>OrderMasterServlet</servlet-name>
    <url-pattern>/ordermaster.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderDetailServlet</servlet-name>
    <servlet-class>com.ordermaster.controller.OrderDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailServlet</servlet-name>
    <url-pattern>/orderdetail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MsgServlet</servlet-name>
    <servlet-class>com.msgboard.controller.MsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MsgServlet</servlet-name>
    <url-pattern>/msg.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ProductClassServlet</servlet-name>
    <servlet-class>com.productclass.controller.ProductClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductClassServlet</servlet-name>
    <url-pattern>/productclass.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>SweetServlet</servlet-name>
    <servlet-class>com.sweet.controller.SweetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SweetServlet</servlet-name>
    <url-pattern>/sweet.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>IceServlet</servlet-name>
    <servlet-class>com.ice.controller.IceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IceServlet</servlet-name>
    <url-pattern>/ice.do</url-pattern>
  </servlet-mapping>
  
<servlet>
    <servlet-name>GroupServlet</servlet-name>
    <servlet-class>com.group_art.controller.GroupServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupServlet</servlet-name>
    <url-pattern>/grouplist/grouplist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Group_trackServlet</servlet-name>
    <servlet-class>com.group_track.controller.Group_trackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Group_trackServlet</servlet-name>
    <url-pattern>/front-end/group.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Group_order_detailServlet</servlet-name>
    <servlet-class>com.group_order_detail.controller.Group_order_detailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Group_order_detailServlet</servlet-name>
    <url-pattern>/front-end/group_order_detail.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>DiscountServlet</servlet-name>
    <servlet-class>com.discount.controller.DiscountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscountServlet</servlet-name>
    <url-pattern>/back-end/discount.do</url-pattern>
  </servlet-mapping>
     
   <servlet>
    <servlet-name>DiscountPicServlet</servlet-name>
    <servlet-class>com.discount.controller.DiscountPicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscountPicServlet</servlet-name>
    <url-pattern>/back-end/img3/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AboutUsServlet</servlet-name>
    <servlet-class>com.aboutus.controller.AboutUsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutUsServlet</servlet-name>
    <url-pattern>/back-end/aboutUs.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AnnouncementServlet</servlet-name>
    <servlet-class>com.announcement.controller.AnnouncementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnouncementServlet</servlet-name>
    <url-pattern>/back-end/announcement.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AnnouncementServletFront</servlet-name>
    <servlet-class>com.announcement.controller.AnnouncementServletFront</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnouncementServletFront</servlet-name>
    <url-pattern>/front-end/announcementFront.do</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/front-end/mem/modify.jsp</url-pattern>
    <url-pattern>/front-end/mem/storedPoint.jsp</url-pattern>
    <url-pattern>/front-end/mem/withdrawalPoint.jsp</url-pattern>
    <url-pattern>/front-end/mem/qrcode.jsp</url-pattern>
    <url-pattern>/front-end/groupart/grouplist.jsp</url-pattern>
    <url-pattern>/front-end/groupart/MyGroupList.jsp</url-pattern>
    <url-pattern>/front-end/groupart/MyTrackList.jsp</url-pattern>
    <url-pattern>/front-end/groupart/MyAddGroupList.jsp</url-pattern>
    <url-pattern>/front-end/groupart/addGroupListForm.jsp</url-pattern>
    <url-pattern>/front-end/ordermaster/listMyOrderMaster.jsp</url-pattern>
    <url-pattern>/front-end/producttract/listMyFaver.jsp</url-pattern>
    <url-pattern>/front-end/shoppingcart/shoppingcart.jsp</url-pattern>
     <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  
  <filter>
    <filter-name>LoginFilter2</filter-name>
    <filter-class>com.filter.LoginFilter2</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter2</filter-name>
    <url-pattern>/back-end/ordermaster/listAllOrderMasterByShip.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
     
  <context-param>
    <param-name>org.apache.tomcat.websocket.textBufferSize</param-name>
    <param-value>307200</param-value>
  </context-param>
  
    <servlet>
	<servlet-name>ProductServlet_Android</servlet-name>
	<servlet-class>com.product.controller.ProductServlet_Android</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>ProductServlet_Android</servlet-name>
	<url-pattern>/ProductServlet_Android</url-pattern>
  </servlet-mapping>
  <servlet>
		<servlet-name>MemberServlet_Android</servlet-name>
		<servlet-class>com.mem.controller.MemberServlet_Android</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberServlet_Android</servlet-name>
		<url-pattern>/MemberServlet_Android</url-pattern>
	</servlet-mapping>
  <servlet>
		<servlet-name>Manager_Account_Servlet_Android</servlet-name>
		<servlet-class>com.manager_account.controller.Manager_Account_Servlet_Android</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Manager_Account_Servlet_Android</servlet-name>
		<url-pattern>/Manager_Account_Servlet_Android</url-pattern>
	</servlet-mapping>
	
  
  <servlet>
		<servlet-name>OrderServlet_Android</servlet-name>
		<servlet-class>com.ordermaster.controller.OrderServlet_Android</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderServlet_Android</servlet-name>
		<url-pattern>/OrderServlet_Android</url-pattern>
  </servlet-mapping>
  

  <servlet>
		<servlet-name>Product_Class_Servlet_Android</servlet-name>
		<servlet-class>com.productclass.controller.Product_Class_Servlet_Android</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Product_Class_Servlet_Android</servlet-name>
		<url-pattern>/Product_Class_Servlet_Android</url-pattern>
	</servlet-mapping>
  
  <servlet>
		<servlet-name>SweetServlet_Android</servlet-name>
		<servlet-class>com.sweet.controller.SweetServlet_Android</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SweetServlet_Android</servlet-name>
		<url-pattern>/SweetServlet_Android</url-pattern>
	</servlet-mapping>
	
  <servlet>
		<servlet-name>IceServlet_Android</servlet-name>
		<servlet-class>com.ice.controller.IceServlet_Android</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IceServlet_Android</servlet-name>
		<url-pattern>/IceServlet_Android</url-pattern>
	</servlet-mapping>
	
	
	 <servlet>
		<servlet-name>DiscountServlet_Android</servlet-name>
		<servlet-class>com.discount.controller.DiscountServlet_Android</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiscountServlet_Android</servlet-name>
		<url-pattern>/DiscountServlet_Android</url-pattern>
	</servlet-mapping>
  
  </web-app>